body{
  background-color: black;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.nav-container {
    display: flex;
    color:white;
    justify-content: center;
    padding-top: 1em; 
    margin-left: 3em;
    margin-right: 3em;
  }
  

 .nav-container > div {
    text-align: center;
    font-size: 1.9em;
    position: relative;
    height: .8em;  
    padding-bottom: .7em;
    padding-top:.35em;
    border: 1px solid transparent;
    border-radius: 20%;
    padding-left: .5em;
    padding-right: .5em;
  }

  .nav-container :hover {
    border-color: white;
  } 

 .a{
  color: white;
  text-decoration: none;
  
  }

.a:hover{
  color: white;
  }

@media screen and (max-width: 500px){

  .nav-container>div {
      font-size: 1.4em;
      padding-left: .4em;
    padding-right: .4em;
      border: none;
  }

}
